<b>Меню бота:</b>

- <b>Создать анкету</b> – создай свою анкету и сможешь смотреть анкеты других людей.
- <b>Найти пару</b> – смотри анкеты других людей и выбирай себе пару.
- <b>Редактировать анкету</b> – изменить данные анкеты.
- <b>Мои мэтчи</b> - посмотри свои мэтчи и выбери человека, с кем хотел(а) бы пообщаться.
- <b>Рейтинг</b> – твой рейтинг.
- <b>Помощь</b> – если нужна помощь, я помогу тебе.

Выбери нужный пункт, и я помогу с дальнейшими действиями.