👤 Имя: {{user_data["name"]}}
🎂 Возраст: {{user_data["age"]}}
⚧ Пол: {{user_data["gender"]}}
📍 Город: {{user_data["city"]}}
🎯 Интересы: {{user_data["interests"]}}
🔍 Предпочтения: {{user_data["preferred_gender"]}}